<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>Edytuj produkt</h3>
    </div>
    <div class="col text-right">
      <a href="#" routerLink="/products/list" class="btn btn-secondary btn-sm">Powrót do listy produktów</a>
    </div>
  </div>
  <br />
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">

    <input formControlName="productId"
           id="productId"
           type="hidden" />

    <div class="form-group">
      <label for="productName">Nazwa produktu:</label>
      <input formControlName="productName"
             id="productName"
             type="text"
             class="form-control" />
    </div>

    <div class="form-group">
      <label for="categoryName">Kategoria:</label>
      <select formControlName="categoryName"
              id="categoryName"
              class="form-control">
        <option value="">- Select -</option>
        <option *ngFor="let category of categories" [ngValue]="category.categoryName">
          {{category.categoryName}}
        </option>
      </select>
    </div>

    <label for="groupName">Grupa:</label>
    <div class="m-checkbox-list">
      <div *ngFor="let group of groups">
        <input type="checkbox" (change)="onChange(group.groupId, $event.target.checked)"> {{group.groupName}}
        <span></span>
      </div>
    </div>
    <br />

    <div class="form-group">
      <label for="name">Jednostka:</label>
      <select formControlName="unitName"
              id="unitName"
              class="form-control">
        <option value="">- Select -</option>
        <option *ngFor="let unit of units" [ngValue]="unit.unitName">
          {{unit.unitName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="weight">Waga:</label>
      <input formControlName="weight"
             id="weight"
             type="number"
             class="form-control" />
    </div>

    <div class="form-group">
      <label for="productImagePath">Zdjęcie:</label>
      <input formControlName="productImagePath"
             id="productImagePath"
             type="text"
             class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!editForm.valid">Edytuj</button>
  </form>
</div>
