<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>Stwórz produkt</h3>
    </div>
    <div class="col text-right">
      <a href="#" routerLink="/products/list" class="btn btn-secondary btn-sm">Powrót do listy produktów</a>
    </div>
  </div>
  <br />
  <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">

    <div class="form-group">
      <label for="productName">Nazwa produktu:</label>
      <input formControlName="productName"
             id="productName"
             type="text"
             class="form-control" />
    </div>

    <div class="form-group">
      <label for="categoryName">Kategoria:</label>
      <select formControlName="categoryName"
              id="categoryName"
              class="form-control">
        <option value="">- Wybierz -</option>
        <option *ngFor="let category of categories" [ngValue]="category.categoryId">
          {{category.categoryName}}
        </option>
      </select>
    </div>

    <label for="groupName">Grupa:</label>
    <div class="m-checkbox-list">
      <div *ngFor="let group of groups">
        <input type="checkbox" (change)="onChange(group.groupId, $event.target.checked)"> {{group.groupName}}
        <span></span>
      </div>
    </div>
    <br />

    <div class="form-group">
      <label for="name">Jednostka:</label>
      <select formControlName="unitName"
              id="unitName"
              class="form-control">
        <option value="">- Wybierz -</option>
        <option *ngFor="let unit of units" [ngValue]="unit.unitId">
          {{unit.unitName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="weight">Waga[g]:</label>
      <input formControlName="weight"
             id="weight"
             type="number"
             class="form-control" />
    </div>

    <div class="form-group table-responsive text-nowrap">
      <table class="table table-bordered">
        <tr>
          <td>
            <label for="iron">Żelazo[mg]:</label>
            <input formControlName="iron"
                   id="iron"
                   type="number"
                   class="form-control" />
          </td>
          <td>
            <label for="vitaminB12">Witamina B12[qg]:</label>
            <input formControlName="vitaminB12"
                   id="vitaminB12"
                   type="number"
                   class="form-control" />
          </td>
          <td>
            <label for="folate">Foliany[qg]:</label>
            <input formControlName="folate"
                   id="folate"
                   type="number"
                   class="form-control" />
          </td>
          <td>
            <label for="vitaminD">Witamina D[qg]:</label>
            <input formControlName="vitaminD"
                   id="vitaminD"
                   type="number"
                   class="form-control" />
          </td>
          <td>
            <label for="calcium">Wapń[mg]:</label>
            <input formControlName="calcium"
                   id="calcium"
                   type="number"
                   class="form-control" />
          </td>
          <td>
            <label for="magnesium">Magnez[mg]:</label>
            <input formControlName="magnesium"
                   id="magnesium"
                   type="number"
                   class="form-control" />
          </td>
        </tr>
        <tr>
          <td><label for="magnesium">Magnez[mg]:</label>
            <input formControlName="magnesium"
                   id="magnesium"
                   type="number"
                   class="form-control" />
          </td>
        </tr>
      </table>
    </div>

    <div class="form-group">
      <label for="productImagePath">Zdjęcie:</label>
      <input formControlName="productImagePath"
             id="productImagePath"
             type="text"
             class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!createForm.valid">Stwórz</button>
  </form>
</div>
