<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      internalLogLevel="Info"
	  internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<!-- target czyli plik do któego będą wysyłane logi 
		layout czyli sposób w jaki informacje będą zapisywane do pliku
		name to nazwa pliku-->
	<targets>
		<target xsi:type="File" name="exceptions" fileName="G:\Studia\Aplikacja dla dietetyków\nlog-all-exceptions${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		
		<!--Ten target jest przeznaczony tylko dla wyjątków w naszym API -->
		<target xsi:type="File" name="allfile" fileName="G:\Studia\Aplikacja dla dietetyków\nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	<!-- rules to zasady na podstawie których nlog będzie wyłapywał informacje
		i przekazywał ich do odpowiednich targetów po to aby te informacje zostały
		zapisane
		* - oznacza, że zbieramy informacje ze wszystkich loggerów, czyli ze
		wszystkich klas w tym projekcie
		minilevel - z jakiego poziomu logów będziemy wyłapywać informacje dla wszystkich
		klas określonych w *-->
	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<!--Wyłapujemy tylko te informacje z klas, które są w mainspace Papu -->
		<logger name="Papu.*" minlevel="Error" writeTo="exceptions" />
	</rules>
</nlog>
