<div class="container">
  <br />
  <h3>Szczegóły dotyczące produktu</h3>
  <br />
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h4>{{ product.productName }}</h4>
        </div>
        <div class="col text-right">
          <a href="#" routerLink="/products/list" class="btn btn-secondary btn-sm">Powrót do listy produktów</a>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Kategoria:</b> {{ product.categoryName }}</li>
      <li class="list-group-item"><b>Grupa:</b><ul *ngFor="let group of product.groups">{{ group.groupName }}</ul></li>
      <li class="list-group-item"><b>Jednostka:</b> {{ product.unitName }}</li>
      <li class="list-group-item"><b>Waga:</b> {{ product.weight }}</li>
      <li class="list-group-item"><b>Zdjęcie:</b> {{ product.productImagePath }}</li>
    </ul>
  </div>
</div>
