<div class="container">
  <br />
  <h3>Szczegóły dotyczące produktu</h3>
  <br />
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h4>{{ product.productName }}</h4>
        </div>
        <div class="col text-right">
          <a href="#" routerLink="/products/list" class="btn btn-secondary btn-sm">Powrót do listy produktów</a>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Kategoria:</b> {{ product.categoryName }}</li>
      <li class="list-group-item"><b>Grupa:</b><ul *ngFor="let group of product.groups">{{ group.groupName }}</ul></li>
      <li class="list-group-item"><b>Jednostka:</b> {{ product.unitName }}</li>
      <li class="list-group-item"><b>Waga[g]:</b> {{ product.weight }} g</li>
      <li class="list-group">
        <table class="table table-bordered">
          <tr>
            <td><b>Żelazo[mg]:</b> {{ product.iron }} mg</td>
            <td><b>Witamina B12[qg]:</b> {{ product.vitaminB12 }} qg</td>
            <td><b>Foliany[qg]:</b> {{ product.folate }} qg</td>
            <td><b>Witamina D[qg]:</b> {{ product.vitaminD }} qg</td>
            <td><b>Wapń[mg]:</b> {{ product.calcium }} mg</td>
            <td><b>Magnez[mg]:</b> {{ product.magnesium }} mg</td>
          </tr>
          <tr>
            <td><b>Kolejna linia:</b> {{ product.magnesium }} g</td>
          </tr>
        </table>
      </li>
      <li class="list-group-item"><b>Zdjęcie:</b><img [src]="product.productImagePath" alt="..." width="100" height="100" /></li>
    </ul>
  </div>
</div>
