<h1>Wszystkie produkty</h1>

<p *ngIf="!products"><em>Wczytywanie...</em></p>
<div class="row">
  <div class="text-left col-sm-6">
    <input class="form-control" type="text" name="productName" [(ngModel)]="productName" (ngModelChange)="search()"
           placeholder="Wprowadź nazwę produktu" />
  </div>
  <div class="col-sm-6 text-right">
    <a href="#" routerLink="/products/create/" class="btn btn-success btn-sm">Stwórz nowy</a>
  </div>
</div>
<br />
<h3>Pokaż kolumnę:</h3>
<div class="box-shadow" style="width: 400px; height: 75px; overflow: auto;">
  <input type="checkbox" (click)="showCategories()"> Kategoria
  <input type="checkbox" (click)="showGroups()"> Grupa
  <input type="checkbox" (click)="showUnits()"> Jednostka
  <input type="checkbox" (click)="showIron()"> Żelazo
  <br />
  <input type="checkbox" (click)="showVitaminB12()"> Witamina B12
  <input type="checkbox" (click)="showFolate()"> Foliany
  <input type="checkbox" (click)="showVitaminD()"> Witamina D
  <input type="checkbox" (click)="showCalcium()"> Wapń
  <br />
  <input type="checkbox" (click)="showMagnesium()"> Magnez
</div>
<br />
<div class="table-responsive text-nowrap">
  <table class="table table-bordered text-center" scrollX="true" aria-labelledby="tableLabel"
         *ngIf="products">
    <thead>
      <tr>
        <th (click)="sortByString('productName')">Nazwa produktu</th>
        <th *ngIf="categoryName">Kategoria</th>
        <th *ngIf="groupName">Grupa</th>
        <th *ngIf="unitName">Jednostka</th>
        <th (click)="sortByNumber()">Waga[g]</th>
        <th *ngIf="iron">Żelazo[mg]</th>
        <th *ngIf="vitaminB12">Witamina B12[qg]</th>
        <th *ngIf="folate">Foliany[qg]</th>
        <th *ngIf="vitaminD">Witamina D[qg]</th>
        <th *ngIf="calcium">Wapń[mg]</th>
        <th *ngIf="magnesium">Magnez[mg]</th>
        <th>Zdjęcie</th>
        <th width="300px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | paginate: {
        itemsPerPage: 10,
        currentPage: page,
        totalItems: totalLength
        }">
        <td>{{ product.productName }}</td>
        <td *ngIf="categoryName">{{ product.categoryName }}</td>
        <td class="text-left" *ngIf="groupName">
          <ul *ngFor="let group of product.groups">
            <li class="list-group">{{ group.groupName }}</li>
          </ul>
        </td>
        <td *ngIf="unitName">{{ product.unitName }}</td>
        <td>{{ product.weight }} g</td>
        <td *ngIf="iron">{{ product.iron }} mg</td>
        <td *ngIf="vitaminB12">{{ product.vitaminB12 }} qg</td>
        <td *ngIf="folate">{{ product.folate }} qg</td>
        <td *ngIf="vitaminD">{{ product.vitaminD }} qg</td>
        <td *ngIf="calcium">{{ product.calcium }} mg</td>
        <td *ngIf="magnesium">{{ product.magnesium }} mg</td>
        <td><img [src]="product.productImagePath" alt="..." width="100" height="100" /></td>
        <td class="text-center">
          <a href="#" [routerLink]="['/products/', product.productId, 'details']" class="btn btn-info btn-sm">Wyświetl</a>
          <a href="#" [routerLink]="['/products/', product.productId, 'edit']" class="btn btn-primary btn-sm">Edytuj</a>
          <button type="button" (click)="deleteProduct(product.productId)" class="btn btn-danger btn-sm">Usuń</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
