<h1>Wszystkie produkty</h1>

<p *ngIf="!products"><em>Wczytywanie...</em></p>
<div class="row">
  <div class="text-left col-sm-6">
    <input class="form-control" type="text" name="productName" [(ngModel)]="productName" (ngModelChange)="Search()"
           placeholder="Wprowadź nazwę produktu" />
  </div>
  <div class="col-sm-6 text-right">
    <a href="#" routerLink="/products/create/" class="btn btn-success btn-sm">Stwórz nowy</a>
  </div>
</div>
<br />
<table class="table table-bordered" aria-labelledby="tableLabel"
       *ngIf="products">
  <thead>
  <tr>
    <th>Nazwa produktu</th>
    <th>Kategoria</th>
    <th>Grupa</th>
    <th>Jednostka</th>
    <th>Waga</th>
    <th>Zdjęcie</th>
    <th width="300px"></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | paginate: {
        itemsPerPage: 10,
        currentPage: page,
        totalItems: totalLength
        }">
      <td>{{ product.productName }}</td>
      <td>{{ product.categoryName }}</td>
      <td>
        <ul *ngFor="let group of product.groups">
          {{ group.groupName }}
        </ul>
      </td>
      <td>{{ product.unitName }}</td>
      <td>{{ product.weight }}</td>
      <td><img [src]="product.productImagePath" alt="..." width="100" height="100"/></td>
      <td class="text-center">
        <a href="#" [routerLink]="['/products/', product.productId, 'details']" class="btn btn-info btn-sm">Wyświetl</a>
        <a href="#" [routerLink]="['/products/', product.productId, 'edit']" class="btn btn-primary btn-sm">Edytuj</a>
        <button type="button" (click)="deleteProduct(product.productId)" class="btn btn-danger btn-sm">Usuń</button>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
